
<div class="claimsMutateItem modal-header" style="background-color: lightgrey;">
    <span><i class="fa fa-circle-o fa-2x" style="color:white;" tooltip="{{claim.ClaimState}}"></i></span>
    <h3 class="modal-title" style="display:inline;">{{claim.ClaimNo}}</h3>
</div>

<div ng-controller="ClaimsControllerMutateRequestingApproval">
    <tabset>
        <tab ng-repeat="route in claim.Routes"
             heading="{{route}}">
            <div style="margin-left:15px;margin-top:5px;" ng-switch
                 on="route">
                <div ng-switch-when="ApprovePayoutCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/approvePayoutCommand.html'"></span>
                </div>

                <div ng-switch-when="AssignVehicleCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/assignVehicleCommand.html'"></span>
                </div>

                <div ng-switch-when="CloseClaimCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/closeClaimCommand.html'"></span>
                </div>

                <div ng-switch-when="CreateClaimCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/createClaimCommand.html'"></span>
                </div>

                <div ng-switch-when="RejectPayoutCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/rejectPayoutCommand.html'"></span>
                </div>

                <div ng-switch-when="ReopenClaimCommand">
                    <span ng-include
                          src="'/app/ui/claim/commands/reopenClaimCommand.html'"></span>
                </div>
            </div>

            <button class="btn btn-primary" style="margin: 5px;" ng-click="execute(route)">{{route}}</button>
        </tab>
    </tabset>
</div>