
<div ng-click="cancel()" class="pull-right modal-cancel">
    <i class="fa fa-times fa-2x"></i>
</div>

<div>
    <div>
        <span ng-include
             src="'/app/ui/claim/mutate/' + claim.ClaimState + '.html'"></span>
    </div>

    <div>
        <tabset>
            <tab ng-repeat="route in claim.Routes"
                 heading="{{route}}">
                <div style="margin-left:15px;margin-top:5px;">
                    <div>
                        <div ng-include
                             src="'/app/ui/claim/commands/' + route + '.html'"></div>
                    </div>
                </div>

                <button class="btn btn-primary" style="margin: 5px;" ng-click="execute(route)">{{route}}</button>
            </tab>
        </tabset>
    </div>

</div>
